export SYS_ENV=DEV
export LOG_PATH=
export LOG_LV=DEBUG

# 后端数据库配置
export CEROBOT_MYSQL_HOST=127.0.0.1
export CEROBOT_MYSQL_PORT=
export CEROBOT_MYSQL_USER=""
export CEROBOT_MYSQL_PWD=""
export CEROBOT_MYSQL_DB=

# 缓存数据库配置

# 运行构建任务容器名
export EL8_DOCKER_IMAGE=''
export EL7_DOCKER_IMAGE=''